<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupabaseURL</key>
	<string>https://wgptkitofarpdyhmmssx.supabase.co</string>
	<key>SupabaseAnonKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndncHRraXRvZmFycGR5aG1tc3N4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEwMjYxNDgsImV4cCI6MjA3NjYwMjE0OH0.L-WW15OaaYGDyQowAlhXFvSa8TNNjCHo0xjfYDdfy6s</string>
</dict>
</plist>
